p{
    color: indianred;
    font-size: 60px;
    text-decoration: underline;
    font-weight: bolder;
    word-spacing: 20px;
    background-color:black;
}
h1{
    color: aqua;
    font-size: 60px;
}

#para2{
    color: blueviolet;
    background-color: rgb(255, 187, 0);
    /* border-width: 10px;
    border-style: double;
    border-color: black; */
    border: 10px double black ;
    text-align: center;
    border-radius: 100px;
    /* padding-left: 500px; */
    /* padding: 10px; */
    /* margin: 30px; */
}
.para1{
    color: yellow;
    background-color: palegreen;
    border: 10px double black;
}