p{
    color: indianred;
    font-size: 60px;
    text-decoration: underline;
    font-weight: bolder;
    word-spacing: 20px;
    background-color:black;
}
h1{
    color: aqua;
    font-size: 60px;
    text-decoration: ;
}